<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Contratos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Botão para criar novo contrato -->
  <ion-button expand="block" (click)="openCreateModal()" color="primary">
    Criar Novo Contrato
  </ion-button>

  <!-- Lista de contratos -->
  <ion-list *ngIf="contratos.length > 0; else emptyState">
    <ion-item
      *ngFor="let contrato of contratos"
      (click)="navigateToContrato(contrato.id ? contrato.id : 0)"
      detail="true"
    >
      <ion-label>
        <h2>ID: {{ contrato.id }}</h2>
        <p>Número: {{ contrato.numero_contrato }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Estado vazio -->
  <ng-template #emptyState>
    <ion-text color="medium" class="ion-text-center">
      <p>Nenhum contrato encontrado.</p>
    </ion-text>
  </ng-template>

  <!-- Spinner de carregamento -->
  <ion-spinner
    *ngIf="loading"
    name="crescent"
    color="primary"
    class="ion-margin-top"
  ></ion-spinner>
</ion-content>

